.aside{
  float: left;
}
.aside aside{
  clear: both;
}
.aside aside:first-child{
  margin-bottom: 40px;
}
.aside aside:last-child form input{
  outline: none;
  width: 170px;
  margin: 10px 0 10px 10px;
  height: 40px;
  border: 1px solid #999;
  background: url("../imgs/icon-search.png")  140px center no-repeat;
  padding-right: 30px;
  color: #666;
}

.aside .aside-content p{
  font-size: 16px;
  color: #01a1ff;
  text-align: center;
}
.aside .aside-content p:first-child{
  width: 143px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 24px;
  margin: 20px auto 7px;
  /*padding-bottom: 7px;*/
  border-bottom: 2px solid #01a1ff;
}
.aside .aside-content p:last-child{
  margin-bottom: 20px;
}

.main-content .contact-map{
  padding: 40px 20px 27px;
}
.main-content .contact{
  overflow: hidden;
  padding: 0 20px;
}
.contact .contact-note{
  float: left;
}
.contact .contact-way{
  float: left;
}
.contact-note{
  width: 482px;
  margin-right: 70px;
}
.contact-way{
  width: 372px;
}
.contact-note form{
  font-size: 16px;
  color: #666;
}
.contact-note form input{
  margin-bottom: 10px;
  width: 280px;
  height: 25px;
  outline: none;
  border: 1px solid #666;
}
.contact-note form lable{
  display: inline-block;
  width: 57px;
  line-height: 36px;
}
.contact-note form lable.note{
  vertical-align: top;
}
.contact-note form textarea{
  display: inline-block;
  width: 410px;
  height: 115px;
  margin-bottom: 10px;
}
.contact-note form input[type=submit],.contact-note form input[type=reset]{
  width: 96px;
  height: 30px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
}
.contact-note form input[type=submit]{
  margin: 0 30px 0 62px;
  color: #fff;
  background-color: #01a1ff;
  border: none;
}
.contact-note form input[type=submit]:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.24);
}
.contact-note form input[type=reset]{
  background-color: #fff;
  color: #666;
  border: 1px solid #666;
}
.contact-note h3 ,.contact-way h3{
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}
.contact-way address p{
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}
